DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=airline_exam_bot
DB_USERNAME=airline_exam_user
DB_PASSWORD=change_me

TELEGRAM_BOT_ENABLED=false
TELEGRAM_MODE=POLLING
TELEGRAM_WEBHOOK_SECRET=change_me
TELEGRAM_ADMIN_ID=change_me
TELEGRAM_BOT_TOKEN=change_me_later
PHONE_IDENTITY_HMAC_KEY=change_me
ADMIN_BOOTSTRAP_USERNAME=change_me
ADMIN_BOOTSTRAP_PASSWORD=change_me
SERVER_PORT=8080
SESSION_COOKIE_SECURE=false
